pkgbase = dwmblocks-magicmonty-git
	pkgdesc = My own build of dwmblocks for use with my build of dwm.
	pkgver = 1.0.r7.b8aecb3
	pkgrel = 1
	url = https://github.com/magicmonty/dwmblocks-magicmonty.git
	arch = x86_64
	arch = i686
	license = ISC
	makedepends = make
	depends = ttf-hack
	depends = ttf-joypixels
	depends = dwm-magicmonty-git
	depends = libxft-bgra-git
	provides = dwmblocks
	conflicts = dwmblocks
	source = git+https://github.com/magicmonty/dwmblocks-magicmonty.git
	md5sums = SKIP

pkgname = dwmblocks-magicmonty-git

